body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    text-align: center;
    padding: 20px;
}

.display-image {
    width: 50%;
    height: auto;
    margin: 0 50px;
    
}


.container {
    margin-top: 30px;
}

h1 {
    margin-bottom: 30px;
}

.buttons button {
    padding: 15px 25px;
    margin: 10px;
    font-size: 18px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.hidden {
    display: none;
}

video {
    width: 60%;
    margin-top: 20px;
    border-radius: 10px;
}

#results {
    margin-top: 40px;
}

#captureBtn {
  background-color: black;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg>');
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat;
}

#captureBtn:hover {
  background-color: black;
  color: white;
}

#captureBtn:active {
  background-color: gray;
  transform: translateY(2px);
}